body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    overflow: hidden; /* Prevent scrolling */
}

canvas {
    display: block;
    max-width: 100%;
    height: auto;
}
